.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
    margin: 5px;
    
    border: 2px solid black;
    display: inline-block;
}


.middle {
    background: lightgrey;
    padding: 100px;
    text-align: center;
    font-weight: bold;
}