.randomnumber{
    text-align: center;
    padding: 200px;
    font-size: x-large;
    color: blue;
}

.button{
    text-align: center;
    border: none;
    padding: 5px;
    margin: 12px;
    font-size: medium;
    width:150px;
    border-radius: 20px;
    background-color:red;
    color: white;
}